
.abtpblm_lft h4{
    margin-top: 226px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}
.abtpblm_lft h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #282938;
    margin-bottom: 30px;
}
.abtpblm_lft p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-bottom: 128px;
}

.abt_prbimg{
    margin-top: 202px;
}